
h1{
    text-align: center;
    color: rgb(9, 87, 231);

}
.cards_contact{
        width: 90%;
        margin: 1% auto 1%;
        background-color: #fff;
        overflow: hidden;
        -webkit-box-shadow: 20px 20px 20px 20px rgba(173, 173, 173, 0.61); 
        box-shadow: 25px 20px 20px 40px rgba(216, 216, 216, 0.61);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

.inner_inputs{
    margin-top: 5%;
    margin-bottom: 20px;
    width: 550px;
}
.atrubit{
    margin: 20px;
}
.atrubit  input ,.atrubit textarea {
    border-radius: 18px;
    padding: 14px 10px;
    margin: 20px auto;
    width: 300px;
    color: rgba(51, 51, 51, 0.829);
    transition: 0.25s;
    border: 2px solid #717475bb;
    outline: none;
    -webkit-box-shadow: 15px 10px 16px -2px rgba(173, 173, 173, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(216, 216, 216, 0.61);
}
.atrubit label{
    font-size: 18px;
}
.atrubit input[type=text]:focus , .atrubit input[type=email]:focus,.atrubit textarea:focus  {
    width: 320px;
    border-color: #068fff;
}

.inner_inputs  .btn_env {
    background-color: rgb(13, 75, 190);
    color: #fff;
    width: 320px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: white; 
    border-radius: 2px;
    border: 2px solid rgb(108,99, 255);
}
.inner_inputs  .btn_env:hover{
    background-color: white;
    color: black;

}
.svg_Part{
    width: 700px;
}
.svg_Part svg{
    width: 600px;
    height: 800px;

}
.svg_top{
    width: 50%;
    margin: 2% auto 2%;
}

.svg_btm{
    width: 50%;
    margin: 2% auto 2%;
    overflow: hidden;
}
.svg_top svg{
    width: 100%;
    height: 300px;

}
.svg_btm svg{
    width: 100%;
    margin: 2% auto 2%;
}


@media (max-width: 600px){
    .cards_contact{
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        display: flex;
}
.inner_inputs  .btn_env {
    width: 200px;
}
.sing{
    box-shadow: 0 0 0 0;
}
.svg_Part{
    display: none;
}
.inner_inputs{
    margin-top: 1%;
    width: 80%;
}
.atrubit  input ,.atrubit textarea {
    border-radius: 18px;
    padding: 14px 10px;
    margin: 20px auto;
    width: 300px;
    color: rgba(51, 51, 51, 0.829);
    transition: 0.25s;
    border: 2px solid #717475bb;
    outline: none;
    -webkit-box-shadow: 15px 10px 16px -2px rgba(173, 173, 173, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(216, 216, 216, 0.61);
}

}



    

