
.contant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.svg_Part{
    width: 700px;
    margin-left: 10%;
}
.svg_Part svg{
    width: 800px;
    height: 800px;

}
.sing {
    position:relative;
    width: 450px;
    box-shadow: 10px 10px 10px 5px rgba(187, 187, 189, 0.87);
    background: #fff;
    padding: 50px 40px;
    margin: 3% auto 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
    .sing h1 {
        color: rgb(9, 87, 231);
        margin-top:5% ;
        margin-bottom: 20%;
        border-bottom: 1px solid #e0e0e0;
    }
.em {
    border-radius: 18px;
    padding: 14px 10px;
    margin: 20px auto;
    width: 300px;
    color: rgba(51, 51, 51, 0.829);
    transition: 0.25s;
    border: 2px solid #717475bb;
    outline: none;
}
    .em:focus {
        width: 350px;
        border-color: rgb(9, 87, 231);
    }

.fb, .si {
    color: #fff;
    width: 60%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: white; 
    border-radius: 2px;
    border: 2px solid rgb(108,99, 255);
}

hr {
    margin-top: 20px;
    width: 80%;
}

.or {
    background: #f8f9fa;
    margin: -28px auto 10px;
    width: 30px;
}

.sing a {
    text-decoration: none;
    color: rgb(2, 2, 2);
}

.si {
    background-color: rgb(13, 75, 190);
    margin-top: 40px;
}

    .si:hover {
        background-color: white;
        color: black;
    }

.fb {
    background-color: rgba(59, 123, 241, 0.877);
}
.fb:hover{
    background-color: white;
    color: black;

}

.fb {
    color: #fff;
}
@media screen and (max-width:768px){
    .sing{
        box-shadow: 0 0 0 0;
    }
    .svg_Part{
        display: none;
    }
}